<% include ./partials/header %>

<div class="container">
<div class="jumbotron jumbotron-fluid">
  
    <h1 class="display-3">Welcome to Heritage Architects</h1>
    <p class="lead">The Most fluidic Architect firm in the World</p>
  </div>
</div>
<!--=========================================================================================-->


<div class="row">
    <div style="width:50%; margin: 10px 300px">
  <!--<div  class=" col-md-6">-->
    <a href="#" class="thumbnail">
      <img src="https://cdn.houseplans.com/product/o2d2ui14afb1sov3cnslpummre/w1024.jpg?v=15" >
      <h1  style="text-align: center; ">Get A Quote!</h1>
    </a>
  <!--</div>-->
  
</div></div>

<div class="row">
    <div style="width:50%; margin: 10px 300px">
  <!--<div  class=" col-md-6">-->
    <a href="#" class="thumbnail">
      <img src="http://www.architecturebeast.com/wp-content/uploads/2014/08/Top_50_Modern_House_Designs_Ever_Built_featured_on_architecture_beast_17.jpg" >
      <h1  style="text-align: center; ">Get A Quote!</h1>
    </a>
  <!--</div>-->
  
</div></div>


<div class="row">
    <div style="width:50%; margin: 10px 300px">
  <!--<div  class=" col-md-6">-->
    <a href="#" class="thumbnail">
      <img src="http://www.aboutisa.com/wp-content/uploads/2017/06/modern-home-design-ideas-view-our-new-house-s-and-plans-porter-davis-inspiring-designs-1024x683.jpg" >
      <h1  style="text-align: center; ">Get A Quote!</h1>
    </a>
  <!--</div>-->
  
</div></div>




<div class="row">
    <div style="width:50%; margin: 10px 300px">
  <!--<div  class=" col-md-6">-->
    <a href="#" class="thumbnail">
      <img src="http://dewtv.com/2/2016/06/warm-lamp-house-paint-colours-in-south-africa-with-nice-pool-design-ideas-can-be-decor-with-glasses-door-can-add-the-modern-touch-inside-room-825x548.jpg" >
      <h1  style="text-align: center; ">Get A Quote!</h1>
    </a>
  <!--</div>-->
  
</div></div>


<div class="row">
    <div style="width:50%; margin: 10px 300px">
  <!--<div  class=" col-md-6">-->
    <a href="#" class="thumbnail">
      <img src="http://cdn.homedit.com/wp-content/uploads/2014/08/city-beach-exterior-house.jpg" >
      <h1  style="text-align: center; ">Get A Quote!</h1>
    </a>
  <!--</div>-->
  
</div></div>


<div class="row">
    <div style="width:50%; margin: 10px 300px">
  <!--<div  class=" col-md-6">-->
    <a href="#" class="thumbnail">
      <img src="http://cdn.homedsgn.com/wp-content/uploads/2015/10/Kloof-Road-House-02.jpg" >
      <h1  style="text-align: center; ">Get A Quote!</h1>
    </a>
  <!--</div>-->
  
</div></div>






    <!--====================================================================================-->
    
    <h1>INDEX!</h1>
<% abouts.forEach(function(about){ %>

<div class = "container">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success"><%= about.name %></li>
      <li class="list-group-item list-group-item-info"><%= about.company %></li>
      <li class="list-group-item list-group-item-info"><%= about.phone %></li>
      <li class="list-group-item list-group-item-info"><%= about.email %></li>
      <li class="list-group-item list-group-item-info"><%= about.skype %></li>
      <li class="list-group-item list-group-item-info"><%= about.message %></li>
      <li class="list-group-item list-group-item-info"><%= about.created %></li>
    </ul>
</div>

    <div>
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <span></span>
        
    </div>

<% }) %>



<!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
  <!-- Indicators -->
<!--  <ol class="carousel-indicators">-->
<!--    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--    <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--    <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--    <li data-target="#myCarousel" data-slide-to="3"></li>-->
<!--  </ol>-->

  <!-- Wrapper for slides -->
<!--  <div class="carousel-inner" role="listbox">-->
<!--    <div class="item active">-->
<!--      <img src="https://cdn.houseplans.com/product/o2d2ui14afb1sov3cnslpummre/w1024.jpg?v=15" alt="Chania">-->
<!--      <div class="carousel-caption">-->
<!--        <h3>Chania</h3>-->
<!--        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="item">-->
<!--      <img src="http://www.aboutisa.com/wp-content/uploads/2017/06/modern-home-design-ideas-view-our-new-house-s-and-plans-porter-davis-inspiring-designs-1024x683.jpg" alt="Chania">-->
<!--      <div class="carousel-caption">-->
<!--        <h3>Chania</h3>-->
<!--        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="item">-->
<!--      <img src="http://casepractice.ro/wp-content/uploads/2016/05/00-idei-de-case-moderne-cu-etaj.jpg" alt="Flower">-->
<!--      <div class="carousel-caption">-->
<!--        <h3>Flowers</h3>-->
<!--        <p>Beautiful flowers in Kolymbari, Crete.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="item">-->
<!--      <img src="https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwiYj6Ku8t7VAhUXS48KHR9HDFYQjBwIBA&url=http%3A%2F%2Ftremost.com%2Fi%2F2016%2F11%2Fexquisite-view-our-new-modern-house-designs-and-plans-porter-davis-industrial-bristol-hero-orig-affordable-in-philippines-tiny-small-inside-minecraft-inexpensive-florida-interior-usa.jpg&psig=AFQjCNH1IfU1gyv3htoBgJ31x923qHPfmA&ust=1503080721242582" alt="Flower">-->
<!--      <div class="carousel-caption">-->
<!--        <h3>Flowers</h3>-->
<!--        <p>Beautiful flowers in Kolymbari, Crete.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Left and right controls -->
<!--  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
<!--    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Previous</span>-->
<!--  </a>-->
<!--  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
<!--    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Next</span>-->
<!--  </a>-->
<!--</div>-->


<% include ./partials/footer %>