<% include ./partials/header %>

<div class="container">
<div class="jumbotron jumbotron-fluid">
  
    <h1 class="display-3">BALRAD 2017</h1>
    <p class="lead">International Conference on Musculoskeletal Imaging </p>
  </div>
</div>
<!--=========================================================================================-->




<div class="container">
  <div class="row">
		<div class="col-lg-12">
		<div id="content">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sree Balaji Medical College & Hospital</h3>
  </div>
  <div class="panel-body">
    <p>
      Sree Balaji Medical College & Hospital is a well-equipped multifaceted 250-bed hospital situated in the western region of Chennai, dedicated to maintain and improve the health of the people by caring, educating, and researching new ways to provide Round-The-Clock care to the non-critically and critically ill patients.
The unique feature of this hospital is its holistic approach to illness with which patients come. We understand that illness is unexpected, so we make every effort to accommodate acute illness or walk-in patient in our schedule.
Teamwork is another Sree Balaji Medical College & Hospital's hallmark. The hospital systems and its culture promote cooperation and collaboration, so that the expertise and the experience of all hospital specialists are available to all the patients.
    </p>
   </div>
</div>




  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Mission</h3>
  </div>
  <div class="panel-body">
    <p>•	Patient satisfaction first.<br>
•	The focus is on putting the needs of the patient first & foremost.<br>
•	An emphasis on providing the best in technical and scientific expertise to address patient problems.<br>
•	Treating patients personally and compassionately.</p>
   </div>
</div>


  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">DEPARTMENT OF RADIOLOGY AND IMAGING SCIENCES</h3>
  </div>
  <div class="panel-body">
   <p>
     The department of radiology and imaging sciences offers exemplary, round the clock 24 hours radiological services to all patients referred to it from various disciplines or departments of SREE BALAJI MEDICAL COLLEGE & HOSPITAL.


The department of radiology and imaging science is being manned by Six radiology professors, two associate professors, four assistant professors, two radiology residents, and eight radiology technical personals.

Apart from the routine radiological services to the patients attending as in-patients or out-patients from various special clinics, regular master health check- ups ,24 hours emergency x-ray services are also undertaken.


The working hours of the department is from 0800 to 1500 hrs. However, in view of emergencies in medical ICU, cardiac ICU, surgical ICU etc, x-ray services are being made available round the clock to meet all the above situations.
   </p>
   </div>
</div>





  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">The routine working pattern of x-ray department is as follows</h3>
  </div>
  <div class="panel-body">
   <p>
     1.	Routine chest x-rays.<br>
2.	Plain x-rays especially abdomen, bucky x-rays,and ortho cases<br>
3.	Bed-rays<br>
4.	Special contrast examinations like barium studies, contrast studies of urinary tracts etc.<br>
5.	Ultrasound examinations of all sorts including Doppler studies. <br>
6.	C. T SCANS.<br>
7.	M.R.I. SCANS.<br>
8.	Mammography 
   </p>
   </div>
</div>





  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">RADIOLOGICAL PROCEDURES DONE PER DAY</h3>
  </div>
  <div class="panel-body">
    <p>•	PLAIN RADIOGRAPHY - 500 - 550 STUDIES<br>
•	SPECIAL RADIOGRAPHY - 80 - 90 STUDIES<br>
•	MAMMOGRAPHY - 20 - 25 STUDIES<br>
•	ULTRASOUND - 80 - 90 STUDIES<br>
•	C.T SCANS - 25 - 30 STUDIES<br>
•	M.R.I.SCANS - 15 - 18 STUDIES</p>
   </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All the x-ray examinations are being carried out with the following x-ray equipments</h3>
  </div>
  <div class="panel-body">
   <p>1.	TWO 800 MA x-ray plant with image intensifier and closed circuit TV system for all contrast investigations.
<br>2.	TWO 500 MA x-ray plant for bucky x-rays, and ortho-x-rays.
<br>3.	TWO 300 MA x-ray plant for chest x-rays
<br>4.	Mammography unit.
<br>5.	Six portable x-ray plants 60 MA capacity each stationed at strategic points in the hospital for bed x-rays.
<br>6.	Per-operative x-rays in all orthopedic and surgical cases are dealt with C - arm x-ray unit with image intensifier in the operation theatre.
   </p>
   </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All the ultrasound examinations are being carried out with the following ultrasound machines</h3>
  </div>
  <div class="panel-body">
   <p>1.	Latest digital colour Doppler system - "LOGIC PRO 5" COLOUR DOPPLER from WIPRO GE.
<br>2.	MID-END Ultrasound system from PHILIPS .
<br>3.	Portable ultrasound system- for obstetrics and gynaecology from “TOSHIBA”.
<br><br>The major work of ultrasound studies is distributed as follows;

<br><br>1.	Routine ultrasound studies of abdomen referred from out-patients
<br>2.	Ultrasound studies for in-patients
<br>3.	Obstetrics ultrasound studies like “TARGET SCAN” for congenital anomalies, growth scans, Doppler study of fetuses.
<br>4.	Peripheral vascular Doppler studies of all sorts like carotid Doppler, arterial Doppler, venous Doppler, renal Doppler, abdominal Doppler.
<br>5.	Small parts ultrasound studies like ultrasound study of thyroid , neck, breast, scrotum, musculoskeletal system etc.
<br>6.	Trans vaginal ultrasound study for gynaec patients.
<br>7.	Ultrasound guided biopsies and aspirations of abscesses and collections etc.</p>
   </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Future Plans</h3>
  </div>
  <div class="panel-body">
   <p>
     We are going to upgrade our department with a latest high-end colour Doppler system with 3D and 4D capabilities, elastography of small parts as well as internal organs of the abdomen.
<br>We are having one multislice computarised tomography ( C.T. SCAN) from HITACHI and one M.R.I SCAN 0.5 TESLA.
<br>We are planning to upgrade the C T SCAN with perfint, automatic pressure injectors and the M.R.I SCAN with 1.5 tesla for MR angiography and MR SPECTROSCOPY
     </p>
   </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">OUR TEACHING SCHEDULE FOR POST GRADUATES</h3>
  </div>
  <div class="panel-body">
   <p>
     Yearly four postgraduates students are joining our department and they are given all the facilities for their studies, by regular theory classes, practical training in all the fields of radiology, periodical assessment with internal examinations, assisting their research activities by periodic evaluation, and guidance.<br>
Apart from regular teaching programme, regular interdepartmental discussion, clinical society meeting, seminars, journal clubs , symposia and yearly CME PROGRAMMES - BALRAD are being conducted for the benefit to the students. The best outgoing student is being honoured with medal and prizes. </p>
   </div>
</div>








    <!--====================================================================================-->
    
    
<% abouts.forEach(function(about){ %>

<div class = "container">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success"><%= about.name %></li>
      <li class="list-group-item list-group-item-info"><%= about.company %></li>
      <li class="list-group-item list-group-item-info"><%= about.phone %></li>
      <li class="list-group-item list-group-item-info"><%= about.email %></li>
      <li class="list-group-item list-group-item-info"><%= about.skype %></li>
      <li class="list-group-item list-group-item-info"><%= about.message %></li>
      <li class="list-group-item list-group-item-info"><%= about.created %></li>
    </ul>
</div>

   

<% }) %>

<form action="/abouts/new">
			<button  id ="center"  href="/abouts" class="btn btn-default btn-lg"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> REGISTER</button>
			</form>
			
			
			

</div>
</div>
</div>
</div>

<style>
   body { 
          background: url(http://health.unl.edu/images/RadiologyHome.jpg) no-repeat center center fixed; 
          /*background: url(https://lh3.googleusercontent.com/ZP8LDyxsmYOAxVlnurt4_R9T4GPmShKAXhnem98NukaOx3Ise7jdT2KyAeE46YLTECBy0AtMoTW2rvKWZ_28TSGqX24c7IgI9pU78g1-elJ7KlzDNNHX2ukIL-_NhG3jAhZFGdcjvRDXJdAmN7zYSxlakM2KrpCqnJnbt8rKpMcdLLAxxlyy9TqntRJMDH0IkAUWnn6kE0DQP6SkgT1wbRtHfetaQ9L4SJfkdeiGpRbGVprqUqZ4OPWbMtPNVUrQBqXsZl__MlTmk7F8LxmljoPyxaMUpcRjoPeMrq2M1w2QrzJNeiKdACgsveaIkPF-hBG_yCJnAWuwZynb3CjikazZH3DyUctYvR2qVt_rKr5gyLlx50Qsv63clcwX6aXCcneNvA9sj5vvgwjQ8erVkZkVR-FPIyNBJSCfCySXEjT3IS54dDoWd515H5eOv7SsERuau51KWpJdZPeSFHYl8e8YwNv37AW3wCDtX4JjC1yFwDu8SIlzbWSGzLJNPMpjYQOn2fpHG0cPCVHZ9noE-5jj5a7Y4D4ykilgsf53NC5K_j5JfiqbbjKiVLHbsvqtZvkAMA-ob4pxx3KGYnVktTGr9Vq5MplUc4wKNO4a2kW3MR-OMvtkIEYZkwDYUcm75Ydu-fjusSxyYrGHwSOCneoQcB6zb5_RuiLZMQqAPOGxFBA=w1294-h622-no) no-repeat center center fixed; */
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
</style>

<% include ./partials/footer %>